@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Inconsolata:wght@200..900&family=Love+Light&family=Oswald:wght@300&family=Xanh+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Inconsolata:wght@200..900&family=Love+Light&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@300&family=Xanh+Mono&display=swap');

body, html, .container{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
img{
    height: auto;
    width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.iphone .right img{
    width: auto;
    width: 40%;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr) 0.3fr; 
}

.container>div{
    border: 1px solid black;
}

.iphone{
    grid-area: 1/1/2/3;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

.iphone>.left{
    width: 50%;
    padding: 20px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.iphone>.right{
    width: 50%;
    padding-top: 20px;
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.iphone .left p{
    margin: 5px;
    color: rgba(0, 0, 0, 0.5);
    font-family: Open Sans;

}
.iphone .left p:first-of-type{
    margin: 5px;
    font-weight: bold;
    text-transform: uppercase;


}
.iphone .left h3{
    margin: 5px;
    font-family: Arvo;
    color: rgba(0, 0, 0, 1);
    font-weight: lighter;
    font-size: 25px;

}

.chemical{
    grid-area: 1/3/2/5;
    background-color: #f7f8fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.chemical .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;

}

.chemical .content>*{
    margin: 5px;
}

.chemical h3{
    font-family: Arvo;
    font-weight: lighter;
    font-size: 28px;
}

.chemical p{
    color: rgba(0, 0, 0, 0.5);
    font-family: Open Sans;
    font-weight: bold;
    text-transform: uppercase;

}

.chemical a{
    color: rgb(90, 90, 255);
}

.keyboard{
    grid-area: 2/1/3/2;
    background-color: #f15839;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.keyboard .content{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
}

.keyboard .content h3{
    color: white;
    text-transform: capitalize;
    font-family: Arvo;
    font-size: 20px;
}

.keyboard .content a{
    color: rgb(255, 191, 0);
    text-decoration: none;
    text-transform: uppercase;
    font-family: Open Sans;
    font-weight: bold;
}

.imac{
    grid-area: 2/2/3/4;
    background-color: #ffffff;
}

.games{
    grid-area: 3/1/4/2;
    background-color: #f7f8fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.games .content{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
}

.games .content h3{
    text-transform: capitalize;
    font-family: Arvo;
    font-size: 20px;
    font-weight: lighter;
}

.games .content a{
    text-decoration: none;
    text-transform: uppercase;
    color :rgb(90, 90, 255);
    font-family: Open Sans;
    font-weight: bold;
}

.laptop{
    grid-area: 3/2/4/4;
    background-color: #93b7b7;
}

.icloud{
    grid-area: 2/4/4/5;
    background-color: #8f75be;
}

.twitter{
    grid-area: 4/1/5/2;
    background-color: #37d4f3;
}

.popular{
    grid-area: 4/2/5/3;
    background-color: #f7f8fa;
}

.tv{
   grid-area: 4/3/5/5;
   background-color: #2c2c2c;
}